<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Patient has booked an appointment</h1>
    <p>
      Details of the Appointment is given below:-
    </p>
    <p>
      Doctor Assigned: <%=@doctor.first_name%> <%=@doctor.last_name%>
      Disease: <%=@patient.disease%>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
