<div class="flex flex-col gap-10 items-center justify-center w-full h-auto py-3 px-10">
    <%= image_tag 'labsmart.jpg', alt: 'Logo', class: 'h-48 w-48' %>
    <center>
        LabSmart Healthcare Technologies, founded by Abhishek Srivastava in 2017, is a company providing software solutions for diagnostic centers and pathology labs. The company offers a SaaS-based platform called LabSmart, designed to improve lab productivity and efficiency by managing lab operations like patient registration, billing, lab reporting, and data management. The platform allows users to access the software from multiple computers without installation hassles and provides real-time data to doctors and patients​
    <br/>
    <br/>
    LabSmart serves over 800 laboratories in India and has a presence in more than seven countries. The platform is particularly focused on small and medium-scale laboratories, aiming to deliver high-quality, affordable solutions. The software is accessible from remote locations, supports various billing and payment methods, and integrates features to minimize human errors and streamline lab processes​
    </center>
</div>
