<h1>I am rendered using a ERB view.</h1>
<template x-teleport='body'>
<div class='fixed inset-0 z-2000 overflow-y-auto' x-show='modelOpen'>
<div class='flex items-end justify-center min-h-screen px-4 text-center md:items-center'>
<div @click='modelOpen = false' class='fixed inset-0 transition-opacity bg-slate-700 bg-opacity-40' x-clock='' x-transition:enter='transition ease-out duration-300 transform' x-transition:enter-end='opacity-100' x-transition:enter-start='opacity-0' x-transition:leave='transition ease-in duration-200 transform' x-transition:leave-end='opacity-0' x-transition:leave-start='opacity-100'></div>
<div class='inline-block w-full max-w-3xl my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl' x-clock='' x-show='modelOpen' x-transition:enter='transition ease-out duration-300 transform' x-transition:enter-end='opacity-100 translate-y-0 sm:scale-100' x-transition:enter-start='opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95' x-transition:leave='transition ease-in duration-200 transform' x-transition:leave-end='opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95' x-transition:leave-start='opacity-100 translate-y-0 sm:scale-100'>
<div class='px-5 py-4 border-b border-gray-200 bg-slate-50'>
<div class='flex items-center justify-between space-x-4'>
<div class='inline-flex items-center'>
<h1 class='text-lg font-medium text-slate-800 mb-0'>Labsmart Doctor Portal</h1>
<div class='inline-flex items-center ml-2 text-pink-600 bg-pink-100 px-2 py-1 rounded-lg'>
<div class='text-xs font-medium'>
NEW LAUNCH
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</template>
